## Jupyter Notebook and Python Practice

This lab we will practice using Jupyter Notebooks: writing formatted text in *Markdown* cells and python code in *Code* cells.

**Save a copy** of this file so that you can edit it.

Follow the prompts and edit the cells. Use the "Run" button to evaluate the cells (to either format the text or run the python code).

### Part 1: Working with Markdown cells

This cell is *Markdown*. Double click to edit it. Use bullets to write your name, your uniqname, and your section.

* **Name**: Nico Cuccaresee
* **uniqname**: nicocu
* **Section Number**: Section 1

You can also use the tool bar in Google Colab to help you write Markdown. In Great Lakes you will need to be able to write the Markdown directly, so it would be good to bookmark this [Guide to Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax)).

Click on this cell. Now click on the `Insert -> Text Cell"` menu item to create a new Markdown cell.

Open up a new tab with [our Canvas page](https://umich.instructure.com/courses/615553). Add add the following items in your new markdown cell:

* A large header with the name of this course.
* A bulleted list with the meeting time and the 3 lab times for your section.
* Make your lab section bold so you don't forget. `;-)`.
* Add a link to the pandas documentation at `https://pandas.pydata.org/` so it can be easily reached later.

Run the cell to see the formatting.

# Stats 206


*   **Lab: 8:30 to 10:00**
*   Lecture: MW 8:30 to 10:00 <br/>  

Link to pandas documentation: https://pandas.pydata.org/ or
<br/> [pandas](https://pandas.pydata.org/)

### Part 2: Python Cells

Below is a Python cell. Click on the cell and click the Run button. Do it again. What do you notice?

In [1]:
import datetime
datetime.datetime.now()

datetime.datetime(2024, 1, 23, 13, 51, 40, 695067)

Next we have three cells. Run each in order.

In [5]:
# Cell 1
then = datetime.datetime.now()

In [3]:
# Cell 2
now = datetime.datetime.now()

In [6]:
# Cell 3
now > then

False

Now go run `Cell 1` again. Then run `Cell 3`. What happens? Why is the case?

If we *absolutely must* enforce having code execute in order, we need to place it into a single cell. Create a new code cell and copy and paste the code in the proper order.

Sometimes we have too much code in a single cell. Run the cell below. We wanted to compute a reciprocal but ended up computing something totally different. (Note: the variable names here are to suggest what we *expected* to get, not what we will get when we run this.)

In [8]:
this_absolutely_contains_a_positive_value = 2
this_absolutely_contains_a_positive_value = this_absolutely_contains_a_positive_value^-1
this_absolutely_contains_a_positive_value
# Split here
another_positive_value = this_absolutely_contains_a_positive_value + 1
another_positive_value

2.0

Create a new code cell and just put the first three lines in it. Create a second cell with just the last two. Run these to see where the computations went wrong.

In [11]:
this_absolutely_contains_a_positive_value = 2
#Changed to exponentiation instead of the bit wise operator
this_absolutely_contains_a_positive_value = this_absolutely_contains_a_positive_value**-1
this_absolutely_contains_a_positive_value

0.5

In [12]:
another_positive_value = this_absolutely_contains_a_positive_value + 1
another_positive_value

1.5

It turns out we confused the `^` operator (which performs a low level bit shift operation) with `**` (which performs exponention). We wanted to compute
$$\frac{1}{x}$$
by raising a positive value to the "-1" power.

Using `**` correct the code above and print out the result.

In [ ]:
this_absolutely_contains_a_positive_value = 2
#Changed to exponentiation instead of the bit wise operator
this_absolutely_contains_a_positive_value = this_absolutely_contains_a_positive_value**-1
this_absolutely_contains_a_positive_value

### Part 3: Python Practice

In the following, we use python to compute a things related to the date of UM's founding: August 26, 1817. If you need help, use the "Details" box to get solutions.

Below is a code cell. Create a variable called `founded` with the value 1817.

In [14]:
founded = 1817

<details>

```
founded = 1817
```

</details>

While we know what year it is, let's write a program that *use the date of execution* to figure out the current year.

Similar to an earlier step, create a variable `now` that contains the result of `datetime.date.today()` (a function call that gets the current date).

In [15]:
now = datetime.date.today()
print(now)

2024-01-23

# **<details>**

```
now = datetime.date.today()
```

</details>

We can look inside `now` to find the year component by using `now.year`. Compute the number of years since the University of Michigan's founding without typing in any numbers.

In [19]:
michigans_founding_year = 1817
some_random_variable = now.year - michigans_founding_year
print(some_random_variable)

207

<details>

```
now.year - founded
```

</details>

We can even compute the number of days since August 26, 1817 to today by creating a new `datetime` object.

The International Standards Organization date format is YEAR-MONTH-DAY, with 4 digit years, two digit months, and two digit days. Use `datetime.date.fromisoformat("UMICH'S FOUNDING")` to create a new variable `founding` that holds the date of UM's founding. Print out the variable to check your work.

In [21]:
founding = datetime.date.fromisoformat("1817-08-26")

<details>

```
founding = datetime.date.fromisoformat("1817-08-26")
founding
```

</details>

Use the `-` operator to compute the difference between `now` and `founding`. For how many days has UM existed?

In [23]:
totaldays = now - founding
print(totaldays)

75390 days, 0:00:00

<details>

```
now - founding
```

</details>

This is an example of *abstraction*: we can take the difference of many things (numbers, dates, more that we will see). The `-` focuses our attention on differences, but allows each data type to figure out what a difference means in practical terms.

### Part 4: Collections, Functions, and Loops

Here is a set of dates as strings:

In [28]:
michigan_statehood = "1837-01-26"
mackinac_national_park = "1857-03-03"
ford_motor_co = "1903-06-16"
joe_louis_wins = "1937-06-22"
macinaw_bridge = "1957-11-01"
gerald_ford_president = "1974-08-09"

Write a function that will turn a string into a date and compute the number of days since the founding of UM. Demonstrate on several of the dates.

In [ ]:
founding = datetime.date.fromisoformat("1817-08-26")
founding

In [29]:
founding - datetime.date.fromisoformat(michigan_statehood)

datetime.timedelta(days=-7093)

In [30]:
founding - datetime.date.fromisoformat(gerald_ford_president)

datetime.timedelta(days=-57326)

In [31]:
def date_since(date_str):
    date_date = datetime.date.fromisoformat(date_str)
    diff = date_date - founding
    return diff

date_since(michigan_statehood)

datetime.timedelta(days=7093)

In [32]:
date_since(joe_louis_wins)

datetime.timedelta(days=43764)

In [33]:
date_since("2023-08-18")

datetime.timedelta(days=75232)

<details>

```
def days_since_founding(d):
    dd = datetime.date.fromisoformat(d)
    return dd - founding

```
</details>

Create a list that includes all of the dates. (*Useful tip: start typing the variable name and hit "tab" to autocomplete the rest of the name.*)

In [34]:
dates = [michigan_statehood, mackinac_national_park, ford_motor_co, joe_louis_wins, gerald_ford_president]

<details>

```
dates = [michigan_statehood,
         mackinac_national_park,
         ford_motor_co,
         joe_louis_wins,
         macinaw_bridge,
         gerald_ford_president]

```

</details>

Now write a `for` loop to compute the days since founding for each item in the list. You can use the `print` function to display these results to the screen.

In [36]:
for d in dates:
  date_since(d)
  print (d)

1837-01-26
1857-03-03
1903-06-16
1937-06-22
1974-08-09

<details>

```
for d in dates:
    print(days_since_founding(d))
    
```
</details>

Use a list comprehension to create a new list with the number of days since founding.

In [37]:
[date_since(d) for d in dates]

[datetime.timedelta(days=7093),
 datetime.timedelta(days=14434),
 datetime.timedelta(days=31339),
 datetime.timedelta(days=43764),
 datetime.timedelta(days=57326)]

<details>

```
[days_since_founding(d) for d in dates]
```

</details>